.login-page-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    min-height: 100vh; 
    padding: 40px 15px;
}

.form-wrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
    border: #000000 2px solid;
}

.auth-form label:not(.checkbox-group label) {
    display: block; 
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
    font-size: 0.95em;
}

.auth-form input[type="email"],
.auth-form input[type="password"],
.auth-form input[type="text"] {
    width: 100%; 
    padding: 10px;
    border: 1px solid #1a0579;
    border-radius: 5px;
    box-sizing: border-box; 
}


.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #010050;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 0.2s;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
    font-size: 1.1em;
    padding: 4px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.checkbox-group label {
    margin-left: 10px;
    font-weight: normal;
    font-size: 0.9em;
}


/* ==================================== */
/* ESTILOS DE ABAS (LOGIN/CADASTRO) - CSS PURO */
/* ==================================== */

input[type="radio"][name="tab-control"] {
    display: none;
}

.tab-toggles {
    display: flex;
    margin-bottom: 20px;
}

.tab-label {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #aaa;
    border-bottom: 2px solid #ddd;
    transition: color 0.3s;
}

.tab-pane {
    display: none;
}

#tab-login:checked ~ .tab-toggles label[for="tab-login"],
#tab-cadastro:checked ~ .tab-toggles label[for="tab-cadastro"] {
    color: #031c6d;
    border-bottom: 3px solid #031c6d;
}

#tab-login:checked ~ .tab-content #login {
    display: block;
}

#tab-cadastro:checked ~ .tab-content #cadastro {
    display: block;
}
